@model ADminLteTest.Entites.Expert

@{
    ViewData["Title"] = "التعديل";
    var WorkNature = (IEnumerable<SelectListItem>)ViewBag.WorkNature;
}

<h1 class="text-right">التعديل</h1>

<hr />
<div class="row">
    <div class="col-md-4 text-right">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalMobile" class="control-label"></label>
                <input asp-for="PersonalMobile" class="form-control" />
                <span asp-validation-for="PersonalMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkMobile" class="control-label"></label>
                <input asp-for="WorkMobile" class="form-control" />
                <span asp-validation-for="WorkMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegularMail" class="control-label"></label>
                <input asp-for="RegularMail" class="form-control" />
                <span asp-validation-for="RegularMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingFor" class="control-label"></label>
                <input asp-for="WorkingFor" class="form-control" />
                <span asp-validation-for="WorkingFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkNatureNo" class="control-label"></label>
                <select asp-for="@Model.WorkNatureNo" class="form-control"
                        asp-items="WorkNature"></select>
                <span asp-validation-for="WorkNatureNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-right">
    <a asp-action="Index">العودة إلى القائمة</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
