@model ADminLteTest.Entites.HandicappedCategory

@{
    ViewData["Title"] = "Create";
    var OrgDetails = (IEnumerable<SelectListItem>)ViewBag.OrgDetails;
    var Category = (IEnumerable<SelectListItem>)ViewBag.Category;
    var Ages = (IEnumerable<SelectListItem>)ViewBag.Ages;
    var Genders = (IEnumerable<SelectListItem>)ViewBag.Genders;
}

<h1>Create</h1>

<h4>HandicappedCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="OrgDetailsNo" class="control-label"></label>
                <input asp-for="OrgDetailsNo" class="form-control" />
                <span asp-validation-for="OrgDetailsNo" class="text-danger"></span>*@
                <label asp-for="OrgDetailsNo" class="control-label"></label>
               <select asp-for="@Model.OrgDetailsNo" class="form-control"
                        asp-items="OrgDetails"></select>
                <span asp-validation-for="OrgDetailsNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryNo" class="control-label"></label>
                <select asp-for="@Model.CategoryNo" class="form-control"
                        asp-items="Category"></select>
                <span asp-validation-for="CategoryNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeNo" class="control-label"></label>
                <select asp-for="@Model.AgeNo" class="form-control"
                        asp-items="Ages"></select>
                <span asp-validation-for="AgeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderNo" class="control-label"></label>
                <select asp-for="@Model.GenderNo" class="form-control"
                        asp-items="Genders"></select>
                <span asp-validation-for="GenderNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
