@model IEnumerable<ADminLteTest.Entites.OrgDetails>

@{
    ViewData["Title"] = "فئات الحالات الخاصة";
}

<h1 class="text-right">فئات الحالات الخاصة</h1>

<p class="text-right">
    <a asp-action="Create">إضافة فئة حالة خاصة</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                المنظمة
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAr)
            </td>
            <td>
                <a asp-action="NewIndex" asp-route-OrgDetailsId="@item.Id">تفاصيل الفئات</a>
            </td>
        </tr>
}
    </tbody>
</table>
